body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(/images/algérie_footer.jpg);
    background-size: cover;
    background-attachment: fixed;

}
/****************************INDEX***************************************/

.flex-header {
    background-image: url("/image/header-pic.jpg");
    width: 100%;
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
    font-size: 300%;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

/***************main***************/

main{
   /* margin-top: 100vh;*/
}
.visite img{
    width:30%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);   
}

.expli{
    display: flex;
    background-color: rgba(240, 248, 255, 0.8);
    margin: 2% ;
}
.expli1{
    font-size: 120%;
    padding: 3%;
}
.first_title{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15% 35%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    height: 50vh;
    font-size: 150%;
}



/*footer*/

.contact2 {
    color:#FFF;
    margin-bottom:20px ;
}
footer { 
    width:100%; 
    background-color:#263238; 
    min-height:250px; 
    padding:10px 0px 30px 0px ;
}
footer p {
    font-size:13px; 
    color:#CCC; 
    padding-bottom:0px; 
    margin-bottom:8px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 150%;
    width: 30%;
    padding:0% 5%;
}
.column img{
    width: 50%;
}
#logo{
    display: flex;
    align-items: center;
}

.nos_service {
    list-style-type:none;
    padding: 0;
}
.nos_service li a:hover { 
    text-decoration:none;
}
.nos_service li a { 
    text-decoration: none;
    color: #CCC;
    font-size: 15px;
}
.column p{ font-size: 15px;}
.column h5{font-size: 20px;}
.bottom_border { 
    border-bottom:1px solid #323f45; 
    padding-bottom:20px;
}
.footer_fin {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.footer_fin li { 
    display:inline;
}
.footer_fin li a { 
    color:#999; 
    margin:0 15px;
    text-decoration: none;
}
.social_media { 
    display:table; 
    margin:15px auto 0 auto; 
    list-style-type:none;  
}
.social_media li { 
    padding-left:20px; 
    padding-top:10px; 
    float:left; 
}
.social_media li a { 
    color:#CCC; 
    border:1px solid #CCC; 
    padding:8px;
    border-radius:50%;
}
.social_media li i {  
    width:20px; 
    height:20px; 
    text-align:center;
}
/*********sahara*********/
.page2 body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: burlywood;
}