


.header-australie {
  background-image: url("../images/australie/header-australie.webp");
  width: 100vw;
  height: 61rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/**********************MAIN**********************/

.title-australie {
  display: flex;
  justify-content: center;
  font-family: 'Lora', serif;
  font-size: 250%;
  font-weight: bold;
  color: #b2b40f;
  margin: 5rem;
}

.title-green {
    color: #433E0E;
}

.australie1 {
  font-family: 'Martel', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  padding-right: 3%;
  margin-top: 3%;
  background-color: #433E0E;
  color: #FFFFFF;
}

.australie2 {
  font-family: 'Martel', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  padding-left: 3%;
  margin-top: 3%;
  background-color: #433E0E;
  color: #FFFFFF;
}

.img-australie1 {
  width: 70%;
  height: auto;
  clip-path: polygon(100% 0, 64% 100%, 0 100%, 0 0);
}


.melbourne1 {
    font-family: 'Martel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 4%;
    padding-right: 3%;
    margin-top: 3%;
    background-color: #EEC643;
}

.melbourne2 {
    font-family: 'Martel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: 4%;
    padding-left: 4%;
    background-color: #EEC643;
}


.img-melbourne1 {
    width: 80%;
    height: auto;
    clip-path: polygon(100% 0, 64% 100%, 0 100%, 0 0);
}

.img-melbourne2 {
    width: 75%;
    height: auto;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}



.goldcoast1 {
    font-family: 'Martel', serif;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    padding-right: 3%;
    margin-top: 3%;
    background-color: #433E0E;
}

.goldcoast2 {
    font-family: 'Martel', serif;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    padding-left: 3%;
    margin-top: 3%;
    background-color: #433E0E;
}


.img-goldcoast1 {
    width: 90%;
    height: auto;
    clip-path: polygon(100% 0, 64% 100%, 0 100%, 0 0);
}

.img-goldcoast2 {
    width: 80%;
    height: auto;
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}


.sydney1 {
    font-family: 'Martel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: 4%;
    padding-right: 4%;
    background-color: #EEC643;
}

.sydney2 {
    font-family: 'Martel', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 4%;
    padding-left: 3%;
    margin-top: 3%;
    background-color: #EEC643;
}

.img-sydney1 {
    width: 80%;
    height: auto;
    clip-path: polygon(100% 0, 64% 100%, 0 100%, 0 0);
}

.img-sydney2 {
    width: 80%;
    height: auto;
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}

.bg-img-australie {
  padding: 0;
  margin: 0;
  background-image: url("../images/australie/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/**********************SLIDE**********************/

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #FFFFFF);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #CBFF8C;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #E3E36A;
  }
  
  .carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #000000;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #000000;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
 /* GALLERY-IMG */

.container-img {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: fit-content;
  width: fit-content;
}

.image-gallery > li {
  height: 300px;
  cursor: pointer;
  position: relative;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.image-gallery > li {
  flex: 1 1 auto;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.img_bottom {
  width: fit-content;
  height: fit-content;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Martel', serif;
  font-size: 150%;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.image-gallery > li:hover .overlay {
  visibility: visible;
  opacity: 1;
}