body{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

main{
  min-height: 70vw;
}
.section-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3rem;
  box-shadow: 0 0 50px rgb(7, 7, 7);
}

.section-flex h2{
  font-family: 'Lora', serif;
  font-size: 70px ;
  margin-bottom: 2rem;
}

.section-flex p{
  max-width: 95%;
  font-family: 'Martel', serif;
  font-weight: bold;
  font-size: 25px;
  margin-left: 2rem;
}

.article{
  max-width: 90%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 25px ;
  backdrop-filter: blur(30px);
  color: black;
}

#canada-main{
  background-image: url("../image/canada/canadamainwall.jpg");
  background-size: cover;
  background-attachment: fixed;
}


/******************************************** Carousel *************************************/
#carousel{
  display: flex;
  width: 100%;
  min-height: 900px;
  background-image: url("../image/canada/carousel.jpg");
  background-size: cover;
}

.pic-ctn {
  position: relative;
  display: flex;
  justify-content: center;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn > img {
  max-width:70%;
  height: 700px;
  margin-top: 5%;
  position: absolute;
  box-shadow: 0 0 30px rgb(255, 255, 255);
  top: 0;
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}


/******************************************** Niagara *************************************/
#niagara{
  width: 100%;
  max-height: 750px;
  margin-top: 15rem;
  padding-top: 3rem;
  padding-left: 3rem;
  background-image: url("../image/canada/niagarawall.jpg");
  background-size: cover;
}

#niagara p, #niagara a{
  color: white;
}


/******************************************** Quebec *************************************/
#quebec{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 7rem;
  padding-left: 3rem;
  background-image: url("../image/canada/quebecwall.jpg");
  background-size: cover;
}


/******************************************** Toronto *************************************/
#toronto{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 8rem;
  padding-left: 5rem;
  background-image: url("../image/canada/torontowall.jpg");
  background-size: cover;
}

#toronto p, #toronto h2{
  color: white;
}


/******************************************** Ottawa *************************************/
#ottawa{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 9rem;
  padding-left: 5rem;
  background-image: url("../image/canada/ottawawall.jpg");
  background-size: cover;
}


/******************************************** Montreal *************************************/
#montreal{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 9rem;
  padding-left: 5rem;
  background-image: url("../image/canada/montrealwall.jpg");
  background-size: cover;
}

#montreal p, #montreal h2{
  color: white;
}