body{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

main{
  min-height: 70vw;
}
.section-flex{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 0 50px rgb(7, 7, 7);
}

.section-flex h2{
  font-family: 'Lora', serif;
  font-size: 70px ;
  margin-bottom: 2rem;
}

.section-flex p{
  max-width: 95%;
  font-family: 'Martel', serif;
  font-weight: bold;
  font-size: 25px;
  margin-left: 2rem;
}

.article{
  max-width: 90%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 25px ;
  backdrop-filter: blur(30px);
  color: black;
}

#canada-main{
  background-image: url("../image/canada/test.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#niagara a:hover, #quebec a:hover, #toronto a:hover, #ottawa a:hover, #montreal a:hover{
  text-shadow: 4px 2px #940909;
  text-decoration: underline 1px #940909;
  margin-left: 4rem;
  transition: 0.5s;
}



/******************************************** Carousel *************************************/
#carousel{
  display: flex;
  width: 100%;
  min-height: 900px;
  background-image: url("../image/canada/carrousel/carouselwall.jpg");
  background-size: cover;
}

.pic-ctn {
  position: relative;
  display: flex;
  justify-content: center;
}

@keyframes glisse {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  15% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn > img {
  max-width:70%;
  height: 700px;
  margin-top: 5%;
  position: absolute;
  box-shadow: 0 0 30px rgb(255, 255, 255);
  top: 0;
  opacity: 0;
  animation: glisse 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
img:nth-child(6) {
  animation-delay: 10s;
}
img:nth-child(7) {
  animation-delay: 12s;
}
img:nth-child(8) {
  animation-delay: 14s;
}
img:nth-child(9) {
  animation-delay: 16s;
}
img:nth-child(10) {
  animation-delay: 18s;
}


/******************************************** Niagara *************************************/
#niagara{
  width: 100%;
  max-height: 750px;
  margin-top: 15rem;
  padding-top: 3rem;
  padding-left: 3rem;
  background-image: url("../image/canada/niagarawall.jpg");
  background-size: cover;
}

#niagara p, #niagara a{
  color: white;
}


/******************************************** Quebec *************************************/
#quebec{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 7rem;
  padding-left: 3rem;
  background-image: url("../image/canada/quebecwall.jpg");
  background-size: cover;
}

#quebec a{
  color: black;
}

/******************************************** Toronto *************************************/
#toronto{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 8rem;
  padding-left: 5rem;
  background-image: url("../image/canada/torontowall.jpg");
  background-size: cover;
}

#toronto p, #toronto a{
  color: white;
}


/******************************************** Ottawa *************************************/
#ottawa{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 9rem;
  padding-left: 5rem;
  background-image: url("../image/canada/ottawawall.jpg");
  background-size: cover;
}

#ottawa a{
  color: black;
}

/******************************************** Montreal *************************************/
#montreal{
  width: 100%;
  height: 750px;
  margin-top: 15rem;
  padding-top: 9rem;
  padding-left: 5rem;
  background-image: url("../image/canada/montrealwall.jpg");
  background-size: cover;
}

#montreal p, #montreal a{
  color: white;
}

#niagara a, #quebec a, #toronto a, #ottawa a, #montreal a{
  
  transition: 0.5s;
}


/******************************************** Culinaire *************************************/
#culinaire{
  margin-top: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("/image/canada/carrousel/carouselwall.jpg");
  background-size: cover;
}

#title{
  color: #fff;
}

#culinaire img{
  height: 200px;
  width: 200px;
  margin: 5rem;
  box-shadow: 0 0 30px rgb(255, 255, 255);
  border-radius: 15px;
  transition: 0.5s;
}

#culinaire img:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.plat{
  width: fit-content;
}

.popupclass {
  position: fixed;
  color: #FFF;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.popupclass:target {
  opacity: 1;
  pointer-events: auto;
}

.popupclass > div {
  width: 60%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  backdrop-filter: blur(50px);
  border-radius: 25px;

}

.close {
  color: rgb(146, 143, 143);
  font-size: 30px;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

}

.close:hover {
  font-size: 40px;
  background-color: #940909;
  color: #fff;
}