*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}



/******************************************** HEADER *************************************/
.flex-header {
    background-image: url("../images/header-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 250px;
    width: 100vw;
}

.title-header {
    display: flex;
    margin-left: 37rem;
    align-items: center;
    font-size: 300%;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    backdrop-filter: blur(4px);
}

#logo{
    max-height: 180px;
    max-width: 180px;
}

.menu{
    width: 100%;
    background-color: #70CBF4;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
.menu a{
    color: #333;
    font-size: 35px;
}

.menu > li {
    width: 200px;
    height: 60px;
    line-height: 60px;
    align-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
    font-size: 30px;
    text-align: center;
}

.menu > li:hover {
    background-color: #1ca4e4;
}

.sous-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    z-index: 15;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sous-menu li{
    background-color: #1ca4e4;
}

.sous-menu li:hover{
    background: #1ca4e4;
    color: #fff;
}

.sous-menu li:hover a{
    color: #fff;
}

.menu > li:hover .sous-menu {
    transform: scale(1);
}






/********************************RESUMES PAYS*******************************/

.resume-pays{
    font-family: 'Martel', serif;
}

.royaume-uni img, .japon img, .australie img, .canada img, .corse img{
    height: 40vh;
}

.royaume-uni, .japon, .australie, .canada, .corse{
    height: 40vh;
    font-size: 20px;

    display: flex;
    align-items: center;
}

.royaume-uni p, .japon p, .australie p, .canada p, .corse p{
    padding: 30px;
}

.royaume-uni{
    background-color: rgb(216, 195, 255);
}

.royaume-uni img{
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.japon{
    background-color: rgb(255, 196, 221);
    display: flex;
    flex-direction: row-reverse;
}

.japon img{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.australie{
    background-color: rgb(255, 223, 181);
}

.australie img{
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.canada{
    background-color: rgb(255, 134, 86);
    overflow: hidden;

    display: flex;
    flex-direction: row-reverse;
}

.canada img{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-right: -7%;
}

.corse{
    background-color: rgb(155, 185, 219);
}

.corse img{
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    margin-left: -4%;
}


/****************************CONTACT***************************************/
#contact-main {
    background-image: url("../images/form-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#container {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    backdrop-filter: blur(2px);
}

.form-flex {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.form-separate {
    margin: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************FOOTER***************/

.contact2 {
    color:#FFF;
    padding-top:px ; 
    margin-bottom:20px ;
}
footer { 
    width:100%; 
    background-color:#263238; 
    min-height:250px; 
    padding:10px 0px 30px 0px ;
}
footer p {
    font-size:13px; 
    color:#CCC; 
    padding-bottom:0px; 
    margin-bottom:8px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 150%;
    width: 30%;
    padding:0% 5%;
}
.column img{
    width: 50%;
}
#logo{
    display: flex;
    align-items: center;
}

.nos_service {
    list-style-type:none;
    padding: 0;
}
.nos_service li a:hover { 
    text-decoration:none;
}
.nos_service li a { 
    text-decoration: none;
    color: #CCC;
    font-size: 15px;
}
.column p{ font-size: 15px;}
.column h5{font-size: 20px;}
.bottom_border { 
    border-bottom:1px solid #323f45; 
    padding-bottom:20px;
}
.footer_fin {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.footer_fin li { 
    display:inline;
}
.footer_fin li a { 
    color:#999; 
    margin:0 15px;
    text-decoration: none;
}
.social_media { 
    display:table; 
    margin:15px auto 0 auto; 
    list-style-type:none;  
}
.social_media li { 
    padding-left:20px; 
    padding-top:10px; 
    float:left; 
}
.social_media li a { 
    color:#CCC; 
    border:1px solid #CCC; 
    padding:8px;
    border-radius:50%;
}
.social_media li i {  
    width:20px; 
    height:20px; 
    text-align:center;
}